body {
    margin: 0;
}

.keyboard {
    margin: 0 auto;
    text-align: center;
}

.keyboard_title {
    color: blue;
}

.textarea {
    width: 50em;
    height: 20em;

}

.keyboard_body {
    border: 1px solid slateblue;
    padding: 5px;
    border-radius: 4px;
    height: 16em;
    width: 45em;
}

.line::after {
    content: "";
    display: block;
    clear: both;
    float: left;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slateblue;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    text-align: center;
    line-height: 32px;
}

.backspace {
    width: 6em;
}

.tab {
    width: 4em;
}

.caps {
    width: 6em;
    height: 3em;
}

.enter {
    width: 5em;
}

.shift {
    width: 85px;
}